body {
  background-color: #fff7e5;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400px;
}

.circular-frame {
  position: absolute;
  z-index: -1;
  
}

.floral-bg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.muka-depan {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  
}
.kata-kata {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 70px;
  
}

.nama, .nama-penuh {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.kandungan-muka-depan, .nama, .kandungan-kata { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.nama-parents {
  font-family: "Noto Serif", sans-serif;
  font-weight: 400;
  font-size: 25px;
  
}

.panggilan {
  padding: 30px 30px;
}

.tempat-dan-tarikh {
  padding-top: 30px;
}

.atur-cara {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  row-gap: 20px;
}